.DS_Store
.env
.env.*

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
dist/
build/
coverage/
tmp/
*.log

# Frontend
node_modules/
**/node_modules/
frontend/dist/
.next/
.cache/
.parcel-cache/
public/

# IDE
.idea/
.vscode/
